<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>게시판</title>
        <link href="/bootstrap/css/styles.css" rel="stylesheet"/>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/bootstrap/css/comment.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"rel="stylesheet" >
        <th:block th:replace="fragment/header :: headerFragment" ></th:block>
    </head>
    <body>
        <div class="container">
            <hr>
            <h2>게시판</h2>
            <hr>
            <form th:object="${board}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}" >
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                        제목이 유효하지 않습니다.
                    </div>
                </div>
                <hr>
                <div class="mb-3">
                    <textarea class="form-control" id="content" rows="3"
                              th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" th:field="*{content}" ></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                        내용이 유효하지 않습니다.
                    </div>
                </div>
                <hr>
                <div class="text-end">
                    <button type="button" class="btn btn-primary" th:onclick="|location.href='@{./list}'|">취소</button>
                    <button type="submit" class="btn btn-primary" th:onclick="|location.href='@{../list}'|">등록</button>
                </div>
                <hr>
            </form>
        </div>
        <footer th:include="fragment/footer.html"></footer>
    </body>
</html>
