<html>
<head>
    <script
            crossorigin
            src="https://unpkg.com/react@16/umd/react.development.js"
    ></script>
    <!-- react가 동작하는 핵심적인 코드가 존재 -->
    <script
            crossorigin
            src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js">
    </script>
</head>
    <body>
    <div id="root"></div>
    <script type="text/babel">
        const e = React.createElement; // HTML 태그를 만들어주는 함수

        class GuGuDan extends React.Component {
            constructor(props) {
                super(props)
                this.state = {
                    num1 : Math.ceil(Math.random() * 9),
                    num2 : Math.ceil(Math.random() * 9),
                    value : '',
                    result : ''
                    //Math.ceil() : 양수는 올림, 음수는 내림
                    // Math.random() : 0부터 1 중의 난수

                }
            }
            onSubmit = (e) =>{
                e.preventDefault();

                const answer = this.state.num1 * this.state.num2;
                if (parseInt(this.state.value) === answer) {
                    //parseInt : 자료를 int형으로 변환
                    this.setState({
                        num1 : Math.ceil(Math.random() * 9),
                        num2 : Math.ceil(Math.random() * 9),
                        value : '',
                        result : '정답!'
                    })
                }
                else {
                    this.setState({
                        value : '',
                        result : '오답...'
                    })
                }

            }

            onChange = (e) => {
                this.setState({value: e.target.value});
            };
            render() {
                return (
                    <div>
                        <h1>{this.state.num1} 곱하기 {this.state.num2} 은?</h1>
                        <form onSubmit={this.onSubmit}>
                            <input type="number" value={this.state.value} onChange={this.onChange}/>
                            <button>submit</button>
                        </form>
                        <h3>{this.state.result}</h3>
                    </div>
                )
            }
        }

        function Test() {
            return <h1>test</h1>
        }
        </script>
        <script type="text/babel">
            // 웹에다가 실제로 렌더링 해주는 역할, LikeButton을 root 태그에 붙임
            ReactDOM.render(<GuGuDan/>, document.querySelector("#root"));
        </script>
    </body>
</html>