<!--<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>-->

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />-->


<th:block th:fragment="headerFragment">
    <link href="/bootstrap/css/header.css" rel="stylesheet"/>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                        <li><a href="/board/list" class="nav-link px-2 text-white">게시판</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                    </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end" sec:authorize="!isAuthenticated()">
                    <button type="button" class="btn btn-outline-light me-2"><a href="/login">로그인</a></button>
                    <button type="button" class="btn btn-warning" ><a href="/terms">회원가입</a></button>
                </div>

                <div class="text-end"sec:authorize="isAuthenticated()">
                    <form class="form-inline my-2 my-lg-0 " id="navbarSupportedContent"
                          th:action="@{/logout}" method="POST" >
                        <button type="button" class="btn btn-outline-light me-2" sec:authentication="name">닉네임</button>
                        <button type="submit" class="btn btn-warning"  >로그아웃</button>
                    </form>
                </div>

            </div>
        </div>
    </header>
</th:block>